.special-menu {
    flex-direction: column;
    background: var(--color-black);
}

.special-menu-title {
    margin-bottom: 2rem;
    text-align: center;
}

.app-special-menu {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.app__specialMenu-menu_heading {
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 0.03em;
    color: var(--color-white);
}

.app-wine-menu,
.app__specialMenu-menu_cocktails {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__specialMenu-menu_cocktails {
    margin-top: 70px;
}

.app-wine-menu-image {
    width: 410px;
    margin: 0 2rem;
}

.app-wine-menu-image img {
    width: 100%;
    height: auto;
}

.app__specialMenu_menu_items {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 100%;
}

@media screen and (max-width: 2000px) {
    .app-wine-menu-image {
        width: 650px;
    }
    .app-wine-menu-image img {
        height: 920px;
    }
}

@media screen and (max-width: 1150px) {
    .app-special-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .app-wine-menu-image {
        margin: 3rem 0;
    }
}

@media screen and (max-width: 650px) {
    .app-wine-menu-image {
        width: 100%;
    }
    .app__specialMenu-menu_heading {
        font-size: 35px;
        line-height: 48.5px;
    }
}